<uc-button (click)="onRefresh()">Refresh</uc-button>

@if (devices$ | async; as devices) { @if (devices.length > 0) {
<ul>
  @for (device of devices; track device) {
  <li>
    @if (mainId === device.deviceId) {
    <span>[Main]</span>
    } @if (testId === device.deviceId) {
    <span>[Test]</span>
    }
    <span>{{ device.label || 'Device without label' }}</span>
    <uc-button (click)="onSelectMainDevice(device.deviceId)" groupOn="right"
      >Select as main</uc-button
    >
    <uc-button (click)="onSelectTestDevice(device.deviceId)" groupOn="left"
      >Select as test</uc-button
    >
  </li>
  }
</ul>
} @else { No device is returned by the application. Either you have no
peripherals, you didn't accept the permission to access to the microphone. We
need this one to list the peripherals. } }
