<unprepared-music-button (click)="onRefresh()">Refresh</unprepared-music-button>

@if (devices$ | async; as devices) { @if (devices.length > 0) {
<ul>
  @for (device of devices; track device) {
  <li>
    @if (mainId === device.deviceId) {
    <span>[Main]</span>
    } @if (testId === device.deviceId) {
    <span>[Test]</span>
    }
    <span>{{ device.label || 'Device without label' }}</span>
    <unprepared-music-button
      (click)="onSelectMainDevice(device.deviceId)"
      groupOn="right"
      >Select as main</unprepared-music-button
    >
    <unprepared-music-button
      (click)="onSelectTestDevice(device.deviceId)"
      groupOn="left"
      >Select as test</unprepared-music-button
    >
  </li>
  }
</ul>
} @else { No device is returned by the application. Either you have no
peripherals, you didn't accept the permission to access to the microphone. We
need this one to list the peripherals. } }
