<div class="flex flex-col">
  <div class="flex-none mb-5">
    <form [formGroup]="form" (submit)="onSearch()" class="flex">
      <input
        type="search"
        placeholder="Search terms"
        formControlName="terms"
        spellcheck="false"
        autocorrect="off"
        enterKeyHint="search"
        class="flex-auto"
      />
      <unprepared-music-button type="submit" level="primary"
        >Search</unprepared-music-button
      >
    </form>
  </div>
  <div class="flex-auto flex">
    <div class="flex-1">
      <div *ngIf="list$ | async as results">
        <ul>
          <li *ngFor="let result of results">
            <unprepared-music-sound
              [url]="result.path"
            ></unprepared-music-sound>
            {{ result.path }}
            <unprepared-music-label *ngFor="let tag of result.tags">{{
              tag
            }}</unprepared-music-label>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex-1"></div>
  </div>
</div>
