<div class="clr-row">
  <div class="clr-col-12">
    <h1 i18n="@@configuration.general.folders-title">Folders</h1>
    <app-add-folder (folder)="onAddFolder($event)"></app-add-folder>
    <table class="table" *ngIf="musicLibrary$ | async as library">
      <thead>
        <tr>
          <th class="left" i18n="@@configuration.general.folder-header">Folder</th>
          <th class="left" i18n="@@configuration.general.actions-header">Actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="library.length > 0; else noFolder">
          <tr *ngFor="let folder of library">
            <td class="left">{{ folder.path }}</td>
            <td class="left">
              <button
                type="button"
                class="btn btn-danger btn-sm"
                (click)="onRemove(folder)"
                i18n="@@configuration.general.remove"
              >Remove</button>
            </td>
          </tr>
        </ng-container>
        <ng-template #noFolder>
          <tr>
            <td class="left" colspan="2"><i i18n="@@configuration.general.no-folder">No folder yet</i></td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>
