<aside
  class="flex flex-col items-center w-16 h-screen py-8 overflow-y-auto bg-white border-r rtl:border-l rtl:border-r-0 dark:bg-gray-900 dark:border-gray-700"
>
  <nav class="flex flex-col flex-1 space-y-6">
    <a routerLink="/">
      <img
        class="w-auto h-6"
        src="https://merakiui.com/images/logo.svg"
        alt=""
      />
    </a>

    <a
      routerLink="/library"
      class="p-1.5 text-gray-700 focus:outline-nones transition-colors duration-200 rounded-lg dark:text-gray-200 dark:hover:bg-gray-800 hover:bg-gray-100"
      ><fa-icon [icon]="faMusic" class="mr-2"></fa-icon
    ></a>

    <a
      routerLink="/projects"
      class="p-1.5 text-gray-700 focus:outline-nones transition-colors duration-200 rounded-lg dark:text-gray-200 dark:hover:bg-gray-800 hover:bg-gray-100"
      ><fa-icon [icon]="faBoxesPacking" class="mr-2"></fa-icon
    ></a>

    <a
      routerLink="/devices"
      class="p-1.5 text-gray-700 focus:outline-nones transition-colors duration-200 rounded-lg dark:text-gray-200 dark:hover:bg-gray-800 hover:bg-gray-100"
    >
      <fa-icon [icon]="faHeadphones" class="mr-2"></fa-icon>
    </a>
  </nav>

  <div class="flex flex-col space-y-6"></div>
</aside>
