<nav class="p-2">
  <ul class="uc-navigation-menu">
    <li>
      <a
        routerLink="/library"
        routerLinkActive="uc-button--active"
        class="uc-navigation-menu-item uc-button uc-button--ghost uc-button--medium"
        [ngClass]="{
          'uc-button--disabled': (isLibraryLoaded$ | async) === false
        }"
        title="Library"
        ><uc-icon name="music"></uc-icon>@if (!collapseMenu) {
        <span class="ml-2">Library</span>}</a
      >
    </li>
    <li>
      <a
        routerLink="/projects"
        routerLinkActive="uc-button--active"
        class="uc-navigation-menu-item uc-button uc-button--ghost uc-button--medium"
        title="Projects"
        ><uc-icon name="package"></uc-icon>@if (!collapseMenu) {
        <span class="ml-2">Projects</span>}</a
      >
    </li>
    <li>
      <a
        routerLink="/devices"
        routerLinkActive="uc-button--active"
        class="uc-navigation-menu-item uc-button uc-button--ghost uc-button--medium"
        title="Devices"
        ><uc-icon name="headphones"></uc-icon>@if (!collapseMenu) {
        <span class="ml-2">Devices</span>}</a
      >
    </li>
  </ul>
</nav>
