<div class="uc-layout h-screen">
  <uc-layout-column [grow]="0">
    <a routerLink="/" ucColumnHeader class="p-2 inline-block">
      <img
        class="w-auto h-4"
        src="https://merakiui.com/images/logo.svg"
        alt=""
      />
    </a>

    <unprepared-music-main-menu ucColumnContent></unprepared-music-main-menu>
  </uc-layout-column>
  <div class="uc-layout-vertical-separator"></div>
  <router-outlet></router-outlet>
  <div class="uc-layout-vertical-separator"></div>
  <router-outlet name="sidebar"></router-outlet>
</div>
